@font-face {
    font-family: 'OpenSans';
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat Black';
    src: url(fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: 'Young Serif';
    src: url(fonts/YoungSerif-Regular.ttf);
}

@keyframes fillBar {
    from { transform: scaleX(0) }
    to { transfrom: scaleX(1) }
}

header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(45, 45, 45);
    padding: 0px;
    margin: 0px;;
    border-bottom: 1px solid rgb(194, 199, 204) ;
}

body {
    background-color: rgb(23, 23, 23);
    background-image: url(images/background.jpg);
    background-blend-mode:multiply;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.header_name {
    display: inline-block;
    color:rgb(194, 199, 204);
    padding: 10px 0 10px 30px;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

.header_links {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding:10px 30px 10px 0px;
    margin-bottom: 0px;
}

.header_link {
    font-size: small;
    font-family: 'Montserrat', sans-serif;
    color:rgb(194, 199, 204);
    text-decoration: none;
    text-align: right;
}

#home_icon {
    width: 20px;
    filter: brightness(0) saturate(100%) invert(93%) sepia(2%) saturate(83%) hue-rotate(177deg) brightness(96%) contrast(94%);
    /* Filter Code was made by AI */
}

.main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.left_section {
    overflow: hidden;
    aspect-ratio: 45 / 42;
    width: 45%;
    margin: 15px;
    margin-top: 20px;
    border: 2px solid rgb(24, 24, 24);
    border-radius: 10px;
    box-shadow: 5px 0 20px rgba(0, 0, 0);
}


.left_section img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%
}

.right_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    aspect-ratio: 9 / 5;
    width: 50%;
    
}

.right_section h1 {
    font-family: 'Montserrat Black';
    color: rgb(194, 199, 204);
    font-size: 80px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.break_line {
    background-color: rgb(194, 199, 204);
    height: 2px;
    width: 90%;
    margin-top: 0;
}

.intro {
    color: rgb(194, 199, 204);
    font-family: 'Young Serif';
    margin-bottom: 5px;
}

.learn_more {
    background-color: rgb(65, 65, 65);
    color: rgb(194, 199, 204);
    border-radius: 10px;
    border: 2px outset rgb(194, 199, 204) ;
    padding: 5px 15px;
}

.learn_more:hover {
    background-color: rgb(45, 45, 45);
    border: 2px inset black;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    margin: 40px auto;

}

.gallery h1 {
    width: 100%;
    text-align: center;
    color: rgb(194, 199, 204);
    font-family: 'Montserrat Black';
    font-size: 50px;
    margin-bottom: 10px;
}

.gallery img {
    width: 350px;
    aspect-ratio: 1 / 1;
    border: 4px solid rgb(65, 65, 65);
    border-radius: 10px;
    box-shadow: 5px 0 20px rgb(0, 0, 0);
}

.gallery img:hover {
    transform: scale(1.2);
}

.left_section_aboutme {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.aboutme_intro {
    color: rgb(194, 199, 204);
    font-family: Montserrat;
    font-size: 20px;
    margin: 20px 50px;
    margin-top: 20px;
    width: 90%;
    line-height: 1.5;
}

.uni_image {
    overflow: hidden;
    aspect-ratio: 45 / 43;
    width: 45%;
    margin: 20px;
    border: 2px solid rgb(24, 24, 24);
    border-radius: 10px;
    box-shadow: -5px 0 20px rgba(0, 0, 0);
}

.uni_image img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%
}

.skills_container {
    width: 90%;
    margin: 40px;
    background-color: rgb(10, 10, 10);
    opacity: 0.7;
    border: 4px solid black;
    border-radius: 20px;
}

.skills_container h1 {
    text-align: center;
    color: rgb(194, 199, 204);
    font-family: 'Montserrat Black';
    font-size: 60px;
    margin: 15px;
}

.skills_container .break_line {
    margin: auto;
    width: 60%;
}

.skill {
    margin: 30px 0 10px 40px;
}

:nth-child(1 of .skill) {
    margin-top: 70px;
}

.skill:last-child{
    margin-bottom: 70px;
}

.skill_label {
    color: rgb(255, 255, 255);
    font-family: OpenSans;
    font-size: 25px;
}

.bar_container {
    width: 90%;
    height: 12px;
    background-color: rgb(90, 90, 90);
    border-radius: 10px;
    border: 2px rgb(114, 114, 114) solid;
    margin-top: 5px;
}

.bar {
    background-image: linear-gradient(to right, rgb(14, 30, 255), rgb(67, 217, 255));
    height: 12px;
    border-radius: 10px;
    animation: fillBar 3s ease forwards;
    transform-origin: left;
} 

.skills_container .skill:nth-of-type(2) .bar { width: 60%; }
.skills_container .skill:nth-of-type(3) .bar { width: 40%; }
.skills_container .skill:nth-of-type(4) .bar { width: 50%; }
.skills_container .skill:nth-of-type(5) .bar { width: 30%; }

.contacts_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 12.5% auto auto auto;
    background-color: rgb(10, 10, 10);
    opacity: 0.7;
    border: 4px solid black;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.inner_container {
    width: 80%;
    margin: 20px;
    margin-right: 15px;
}

.contact {
    display: flex;
    align-items: center;
}

.contact img {
    width: 40px;
    margin: 15px 50px
}

#email_icon {
    filter: brightness(0) saturate(100%) invert(93%) sepia(2%) saturate(83%) hue-rotate(177deg) brightness(96%) contrast(94%);
    /* Filter Code was made by AI */
}

#github_icon {
    filter: invert(82%) sepia(6%) saturate(233%) hue-rotate(169deg) brightness(93%) contrast(88%);
    /* Filter Code was made by AI */
}

.contact p {
    color: rgb(194, 199, 204);
    font-family: 'OpenSans';
    font-size: small;
}

.contact a {
    text-decoration: none;
}

.contact p:hover {
    scale: 1.1;
    color: white;
}
